.carousel-inner img {
  width: 100%;
  height: 100%;
}

.logo {
  height: 75px;
}

.nav-link {
  color: #363636;
  font-size: 18px;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 52px;
}

.carousel-caption {
  padding-bottom: 200px;
}

.padding_info {
  padding: 50px 0 50px;
  align-items: center;
}

.fondo-portada {
    background-color: #c38f5d;
}

.nav-style {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.img-1 {
  padding: 12px;
}

.img-des {
  width: 100%;
  border-radius: 12px;
}

.jumbotron {
  text-align: center;
  justify-content: center;
  height: 400px;
}

.titulo-1 {
  padding-right: 150px;
}

footer {
  justify-content: center;
  padding: 20px;
  background-color: #363636; /* For browsers that do not support gradients */
  background-image: linear-gradient(180deg, #dcdcdc, #fff);
}

.element-spacer {
  height: 50px;
}

.font-footer {
  text-align: center;
  color: #363636;
}

.posicion {
  padding: 150px;
}

@media (max-width: 576px) {
  .posicion {
    padding: 30px;
  }
}